.collapse{
    padding-left: 400px;
    color: white ;
}
.abc{
    width: 300px;
}
.nav-item{
    padding-left: 30px;
}
.student{
    text-align: center;
    margin-top: 20px;
    color:  white;
}

.dflex{
    display: flex;
}
.col-12{
    margin-top: 20px;
}