.collapse{
        padding-left: 400px;
        color: white ;
}

.abc{
    width: 300px;
}
.nav-item{
    padding-left: 30px;
}
.maincard{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.col1,.col2,.col3{
    display: flex;
    width: 300px;
    height: 100px;
    background-color:rgb(50, 5, 92);
    box-shadow: 2px 4px 5px grey;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    color: white;
    
}
.carousel{
    margin-top: 30px;
}

.dflex{
    display: flex;
}
.col-12{
    margin-top: 20px;
}